# Python Backend
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Frontend (React/Vite)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local
.npm/

# OS / Editor Files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
